.todo-item-row {
  width: 100%;
  border: white solid;
  margin-top: 10px;
  padding: 10px;
  word-wrap: break-word;
  white-space: pre;
  animation: fadeIn 2s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.done-btn {
  font-size: 20px;
  float: right;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.add-todo-btn {
  width: 9%;
  height: 45px;
  background-color: rgb(63, 97, 11);
  border-radius: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.add-todo-text {
  width: 50%;
  border-radius: 5px;
}

.add-todo-div {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.todo-text {
  font-size: 20px;
}

.todo-text-done {
  font-size: 20px;
  text-decoration: line-through;
}

.todo {
  color: white;
}

.link {
  margin-left: 2%;
  margin-top: 3%;
  font-size: 21px;
  border-radius: 5px;
  color: white;
}
